body {
    margin: 0;
    min-height: 100vh;
    background-image: url("rfggsa_8.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: rgb(168, 208, 245);

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 12px;
    width: 350px;
}

h1 {
    text-align: center;
}

.input-area {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    border-radius: 6px;
    border: none;
}

button {
    padding: 8px;
    border: none;
    border-radius: 6px;
    background-color: rgb(168, 208, 245);
    cursor: pointer;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}


.concluida {
    text-decoration: line-through;
    opacity: 0.7;
}