* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    background-image: url(rfggsa_8.jpg);
    background-size: cover;
    color: rgb(148, 161, 204);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #302f2f;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 2px solid rgb(148, 161, 204);
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: rgb(148, 161, 204);
    color: white;
    border-radius: 50px;
    cursor: pointer;
}