body {
    margin: 0; 
    padding: 0;
    background-image: url("rfggsa_8.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial;
    color: white;
}

/* Container central */
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 15px;
    text-align: left;
}

/* Título */
h1 {
    color: #aad4e2;
    margin-bottom: 20px;
    font-size: 40px;
}

h2, h3, h4 {
    color: #aad4e2;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 20px;
}

/* Texto */
p {
    line-height: 1.6;
    margin-bottom: 15px;
    font-size: 18px;
}

/* Lista */
ul {
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
    font-size: 17px;
}